* {
    font-family: 'Lato', sans-serif;
}

h2 {
    text-align: center;
    color: #000000;
}

.row-down {
    padding: 0 50px 0 50px;
}

.transparent {
    opacity: 0;
    height: 50vh;
}

.black-wrapper {
    background: #000;
    color: lightgrey;
    font-weight: 300;
}

.white-wrapper {
    background: #fff;
}

.grey-wrapper {
    background: lightgrey;
}

@media only screen and (max-width: 768px) {
    body {
        background: #000 url(../images/background_large.jpg) no-repeat fixed;
        background-size: 100vw auto;
    }

    .biopic {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        margin-left: calc(50vw - 70px);
        margin-top: -7vh;
    }

    .black-wrapper h1 {
        font-size: 28px;
        color: lightgrey;
    }
}

@media only screen and (min-width: 768px) {
    body {
        background: #000 url(../images/background_small.jpg) no-repeat fixed;
        background-size: 100vw auto;
    }

    .biopic {
        display: inline-block;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        margin-left: calc(50vw - 120px);
        margin-top: -12.5vh;
    }

    .black-wrapper h1 {
        font-size: 40px;
        color: lightgrey;
    }

    .navbar {
        border-radius: 0;
        border: 0;
        display: flex;
        margin-bottom: 0;
    }

    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

    .row {
        margin-bottom: 0;
    }
}

.selected {
    border-bottom: 2px solid white;
    color: #ffffff;
}

.desc-text {
    font-weight: 700;
    color: #000;
}

.flex-item {
    list-style-type: none;
    color: #000;
}

.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
    width: 100%;
}